<p id="notice"><%= notice %></p>

<h1>Listing Ds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ds.each do |d| %>
      <tr>
        <td><%= d.name %></td>
        <td><%= d.address %></td>
        <td><%= link_to 'Show', d %></td>
        <td><%= link_to 'Edit', edit_d_path(d) %></td>
        <td><%= link_to 'Destroy', d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New D', new_d_path %>
